@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
::selection{
    background-color: black;
    color: red;
}
*, ::after, ::before {
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    height: 100vh;
    color: white;
}
.btn{
    text-align: center;
    padding: 1em 1.5em;
    border: none;
}
.btn:hover{
    opacity: 0.8;
}
header {
    padding: 20px;
}

#top-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

#top-header #reset-btn {
    padding: 1em 1.3em;
    border: none;
    color: #222;
}
#top-header #between{
    text-align: center;
    line-height: 1.5;
}
#top-header p {
    font-size: .6rem;
}

header h1 {
    font-size: 1.7rem;
    text-align: center;
}

#secret-num {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 2.5em;
    background-color: white;
    color: #222;
    font-size: 2.5rem;
    margin: 1em auto ;
}

#secret-num::after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 10px;
    background-color: white;
}
section{
    display: flex;
    justify-content: center;
    gap: 15em;
}
#left,#right{
    width: 50em;
    display: flex;
    flex-direction: column;
}
#left{
   align-items: center;
}
.check-btn:disabled{
    opacity: 0;
}
#left #number-guess {
    display: block;
    text-align: center;
    width: 180px;
    height: 90px;
    font-size: 3rem;
    background-color: #222;
    color: white;
    border: 3px solid white;
    margin-bottom: .5em;
}
#left #number-guess:focus{
    outline: none;
}
#right #message{
    margin-bottom: 4em;
    font-size: 1rem;
}
#right p{
    font-size: .8rem;
}